@charset "UTF-8";
/*  Обозначаю цвет фона всего сайта  */
.slick-active {
  outline: none; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?55381909");
  src: url("../fonts/fontello.eot?55381909#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?55381909") format("woff2"), url("../fonts/fontello.woff?55381909") format("woff"), url("../fonts/fontello.ttf?55381909") format("truetype"), url("../fonts/fontello.svg?55381909#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?55381909#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-vkontakte:before {
  content: '\f189'; }

/* '' */
html {
  font-size: 10px; }

body {
  margin: 0;
  padding-top: 40px;
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

h2 {
  font-size: 24px; }

a {
  color: #009adf; }
  a.btn {
    padding: 20px 30px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700; }
    a.btn-primary {
      background-color: #009adf;
      border-bottom: 5px solid #0077ac; }
      a.btn-primary:hover {
        background-color: #00a1e9; }

.top-nav {
  position: relative;
  background-color: #ffffff;
  padding: 15px 34px; }
  .top-nav_btn {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: -50px; }
    .top-nav_btn:hover {
      cursor: pointer; }
  .top-nav_menu {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top-nav_menu li {
      margin-right: 45px; }
      .top-nav_menu li:last-child {
        margin-right: 0; }
      .top-nav_menu li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #131313;
        font-weight: 700; }
        .top-nav_menu li a::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: #009adf;
          -webkit-transform: translateY(37px) scale(0);
                  transform: translateY(37px) scale(0);
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
        .top-nav_menu li a:hover {
          text-decoration: none; }
          .top-nav_menu li a:hover::after {
            -webkit-transform: translateY(37px) scale(1);
                    transform: translateY(37px) scale(1); }

.left-sidebar {
  margin-top: 4rem; }
  .left-sidebar_btn {
    display: none;
    position: relative;
    background-color: #ffffff;
    padding: 15px; }
    .left-sidebar_btn:hover {
      cursor: pointer; }
    .left-sidebar_btn::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -10px;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-bottom: 2px solid #131313;
      border-right: 2px solid #131313;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .left-sidebar_menu {
    background-color: #ffffff;
    list-style: none;
    padding: 0; }
    .left-sidebar_menu li {
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }
      .left-sidebar_menu li:first-child a {
        padding-top: 20px; }
      .left-sidebar_menu li:last-child a {
        padding-top: 20px; }
      .left-sidebar_menu li:hover {
        background-color: #009adf; }
        .left-sidebar_menu li:hover a {
          color: #ffffff; }
      .left-sidebar_menu li a {
        display: block;
        padding: 15px 29px;
        text-decoration: none;
        color: #131313;
        font-size: 16px;
        font-weight: 400; }
  .left-sidebar_object {
    margin-top: 30px;
    background-color: #ffffff; }
    .left-sidebar_object img {
      width: 100%;
      height: auto; }
    .left-sidebar_object-description {
      padding: 30px; }
      .left-sidebar_object-description h3 {
        text-transform: uppercase;
        font-weight: 400; }

.content {
  margin-top: 40px;
  margin-bottom: 76px; }

.directions {
  margin-top: 80px; }
  .directions-block {
    background-color: #ffffff;
    height: 220px;
    text-align: center;
    margin: 0 15px;
    padding: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain; }
    .directions-block h3 {
      color: #009adf; }

.footer {
  margin-top: 60px;
  padding: 59px 0;
  background-color: #131313;
  color: #666666; }
  .footer-policy-link {
    font-size: 12px; }
  .footer p {
    margin-bottom: 14px; }
  .footer a {
    color: #666666;
    text-decoration: none; }
    .footer a:hover {
      color: #ffffff; }
  .footer small {
    display: block;
    max-width: 80%;
    margin-top: 56px;
    line-height: 16px;
    font-size: 10px; }
  .footer ul {
    padding: 0;
    list-style: none; }
    .footer ul li {
      line-height: 32px; }
  .footer-contacts {
    text-align: right; }
    .footer-contacts_phone {
      font-weight: 400;
      font-size: 20px;
      color: #009adf; }
  .footer-social-links {
    text-align: right; }
    .footer-social-links li {
      display: inline-block; }
      .footer-social-links li a {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        border-radius: 50%;
        padding: 7px; }
        .footer-social-links li a:hover {
          background-color: rgba(255, 255, 255, 0.3); }
        .footer-social-links li a img {
          width: 100%;
          height: auto; }

.team {
  text-align: center; }
  .team h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px; }
  .team p {
    margin-bottom: 40px; }

.contacts {
  font-size: 16px; }
  .contacts-address {
    display: block;
    line-height: 2;
    margin-bottom: 20px; }
  .contacts-btn {
    margin-top: 36px; }
  .contacts-social-links ul {
    list-style: none;
    margin-top: 36px;
    padding: 0; }
    .contacts-social-links ul li {
      display: inline-block; }
      .contacts-social-links ul li a {
        display: inline-block;
        background-color: #009adf;
        color: #ffffff;
        margin-right: 15px;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 50%; }

.organization-card {
  background-color: #ffffff;
  padding: 25px 30px;
  margin-bottom: 30px;
  min-height: 42rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .organization-card:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1); }
  .organization-card a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-bottom: 20px; }
  .organization-card small {
    display: block;
    color: rgba(19, 19, 19, 0.5);
    line-height: 1.5; }
  .organization-card p {
    line-height: 22px; }

.calc h4 {
  margin-top: 0;
  margin-bottom: 30px; }

.calc-programms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.calc-legal {
  font-size: 12px; }

.calc-radio {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .calc-radio:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .calc-radio label {
    display: inline-block;
    margin-bottom: 20px; }
    .calc-radio label::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
              box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
      background-color: #ffffff;
      border: 6px solid #ffffff;
      border-radius: 50%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .calc-radio label:hover {
      cursor: pointer; }
    .calc-radio label small {
      display: block;
      margin-left: 28px;
      font-size: 10px;
      opacity: 0.5; }
  .calc-radio input[type="radio"] {
    display: none; }
    .calc-radio input[type="radio"]:checked + label::before {
      background-color: #009adf;
      border: 6px solid #ffffff; }

.calc-popular {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  height: 25px;
  text-transform: uppercase;
  font-size: 10px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009adf; }
  .calc-popular::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -6px;
    width: 6px;
    height: 13px;
    border: 6px solid transparent;
    border-right: 6px solid #009adf; }

.calc-summ_invest {
  margin-top: 30px; }
  .calc-summ_invest_label {
    margin-right: 10px; }
  .calc-summ_invest_num {
    display: inline-block;
    padding: 10px 48px;
    background-color: #ffffff;
    font-size: 18px; }

.calc-total {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 40px; }
  .calc-total strong {
    font-size: 18px;
    color: #009adf;
    font-weight: 400; }
  .calc-total small {
    font-size: 10px; }

.calc-monthly {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-right: 40px;
  font-size: 18px; }
  .calc-monthly small {
    font-size: 10px;
    text-align: center; }

.object-card {
  background-color: #ffffff;
  margin-bottom: 30px; }
  .object-card img {
    width: 100%;
    height: auto; }
  .object-card_text {
    padding: 30px; }
  .object-card_title {
    display: block;
    font-size: 16px;
    color: #009adf;
    text-decoration: none; }
  .object-card_price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #009adf;
    text-align: center; }
  .object-card_btn {
    display: block;
    text-align: center; }
  .object-card_more {
    display: block;
    color: #131313;
    margin-top: 30px;
    text-align: center; }

/*  Адаптив для сайта  */
@media (max-width: 767px) {
  html {
    font-size: 5px; }
  .top-nav_btn {
    display: block; }
  .top-nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none; }
    .top-nav_menu__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; }
    .top-nav_menu li {
      line-height: 2; }
      .top-nav_menu li a::after {
        display: none; }
  .left-sidebar_btn {
    display: block; }
  .left-sidebar_menu {
    display: none; }
    .left-sidebar_menu__active {
      display: block; }
  .left-sidebar_object {
    display: none; }
  .copy {
    text-align: center; }
    .copy small {
      display: block;
      margin: 36px auto; }
  .footer-contacts {
    text-align: left; }
  .footer-social-links {
    text-align: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px; }
  .top-nav_btn {
    display: block; }
  .top-nav_menu {
    display: none; }
    .top-nav_menu__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .top-nav_menu li {
      margin-right: 0;
      line-height: 2; }
      .top-nav_menu li a::after {
        display: none; }
  .left-sidebar_btn {
    display: block; }
  .left-sidebar_menu {
    display: none; }
    .left-sidebar_menu__active {
      display: block; }
  .left-sidebar_object {
    display: none; }
  .footer-contacts {
    text-align: left; }
  .footer-social-links {
    text-align: left; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .top-nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .top-nav_menu li {
      margin: 0; } }
